#:gigi:version: 0.3.0a2
#:gigi:arguments: Nim

#:gigi:source: github:Nim
nimcache/
nimblecache/
htmldocs/


#:gigi:user
# Misc
dist/
var/
# Nimble
nimble.develop
nimble.paths
nimbledeps
# Taskfile
.task
